.button-primary {
  background-color: $blue-1;
  color: $white-1;
  padding: $base-padding;
  border: 0;
  border-radius: $border-radius-small;
  cursor: pointer;
  transition: $transition;

  &:hover,
  &:focus {
    box-shadow: 0 8px 25px -8px rgba($blue-1, 1);
  }
}

.description {
  font-size: 1.2rem;
  font-weight: 600;
  display: grid;
  place-items: center;
  padding: $py-2 $px-1;
}

.intro {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.node-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
  padding-inline: $px-2;
  max-width: 1180px;

  &__item {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    .box {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .start {
      background-image: url("images/arrow-right.svg");
    }

    .end {
      background-image: url("images/end.svg");
    }

    .bomb {
      background-image: url("images/bomb.svg");
    }

    .wall {
      background-color: $wall;
    }

    .unvisited {
      border: 1px solid $board-cell;
    }

    .visited-1 {
      background-color: $visited-4;
    }

    .visited-2 {
      background-color: $visited-5;
    }

    .short-path {
      background-color: $path;
    }
  }
}
