// Colors
$white-1: #fff;
$white-2: #f7f7f7;
$gray-1: #bbb;
$gray-2: #222;
$blue-1: #06f;

$wall: #36292c;
$visited-1: #013494bf;
$visited-2: #0470b8bf;
$visited-3: #00b8d9bf;
$visited-4: #00d99fbf;
$visited-5: #d8058dbf;
$path: #ffff00;
$board-cell: #afd8f8;

// Other
$border-radius-small: 4px;
$border-radius-large: 17px;

$base-padding: 0.5rem 2rem;
$px-1: 1rem;
$px-2: 2rem;
$py-1: 1rem;
$py-2: 1rem;

$logo-size: 2rem;

$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-100: 1;

$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
