// Colors
$white-1: #fff;
$white-2: #f7f7f7;
$white-3: #afd8f8;
$blue-1: #00b8d9bf;
$blue-2: #06f;
$blue-3: #0470b8bf;
$blue-4: #013494bf;
$gray-1: #bbb;
$gray-2: #222;
$brown-1: #36292c;
$green-1: #00d99fbf;
$pink-1: #d8058dbf;
$yellow-1: #ffff00;

// Other
$border-radius-small: 4px;
$border-radius-large: 17px;

$base-padding: 0.5rem 2rem;
$px-1: 1rem;
$px-2: 2rem;
$py-1: 1rem;
$py-2: 1rem;

$logo-size: 2rem;

$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-100: 1;

$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
